header
  .header_top
    .container
      .row.no-gutters
        .col-7
          h1 Chào mừng bạn đến với website của chúng tôi !
        .col-5
          ul.header_top_contact
            li
              span Hotline:
              a(href="tel:0327421742").tel 032 742 1742
            li
              span Email:
              a(href="mailto:laotama742@gmail.com") laotama742@gmail.com
  .menu
    .container
      p.logo
      ul
        li.active: a(href="#") trang chủ
        li: a(href="#") giới thiệu
        li: a(href="#") kho giao diện
        li: a(href="#") bảng giá
        li: a(href="#") dịch vụ
        li: a(href="#") liên hệ



