doctype html
html(lang="vi" , id="index")
  head
    title #{TITLE}
    meta(charset="utf-8")
    link(rel='icon', type='image/png', href='img/favicon.png')

    meta(name="description" content="DESCRIPTION")
    meta(name="keywords" content="KEYWORDS")
    meta(name="format-detection" content="telephone=no")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="./templates/css/default.css" rel="stylesheet")
    link(href="./templates/css/bootstrap.css" rel="stylesheet")
    link(href="./templates/css/animate.min.css" rel="stylesheet")
    link(href="./templates/css/owl.carousel.css" rel="stylesheet")
    link(href="./templates/css/owl.theme.default.css" rel="stylesheet")
    link(href="./templates/css/bootstrap.css" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet")
    link(href="./templates/css/style.css" rel="stylesheet")

body
  //- header
  block header
    include ./elements/_header.pug
  nav#breadcrumb(aria-label='breadcrumb')
    .container
      .row
        ol.breadcrumb
          li.breadcrumb-item
            a(href='./') Home
          li.breadcrumb-item.active(aria-current='page') Giới thiệu

  section.content-page
    .container
      .row
        .col-12
          h1.title
            span Giới thiệu
        .col-12
          p Bài viết đang cập nhật .....

  //- footer
  block footer
    include ./elements/_footer.pug

  script(src="https://code.jquery.com/jquery-2.2.4.min.js")
  script(src="./templates/js/bootstrap-min.js")
  script(src="./templates/js/wow.js")
  script(src="./templates/js/owl.carousel.js")
  script(src="./templates/js/default.js")
  script.
    new WOW().init();