doctype html
html(lang="vi")
  head
    title #{TITLE}
    meta(charset="utf-8")
    link(rel='icon', type='image/png', href='img/favicon.png')

    meta(name="description" content="DESCRIPTION")
    meta(name="keywords" content="KEYWORDS")
    meta(name="format-detection" content="telephone=no")
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href="./templates/css/bootstrap.css" rel="stylesheet")
    link(href="./templates/css/animate.min.css" rel="stylesheet")
    link(href="./templates/css/owl.carousel.css" rel="stylesheet")
    link(href="./templates/css/owl.theme.default.css" rel="stylesheet")
    link(href="./templates/css/bootstrap.css" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet")
    link(href="./templates/css/style.css" rel="stylesheet")

body
  //- header
  block header
    include ./elements/_header.pug

  section.banner
    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
        li(data-target='#carouselExampleIndicators' data-slide-to='1')
        li(data-target='#carouselExampleIndicators' data-slide-to='2')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='./templates/img/banner.jpg' alt='First slide')
        .carousel-item
          img.d-block.w-100(src='./templates/img/banner1.jpg' alt='Second slide')
        .carousel-item
          img.d-block.w-100(src='./templates/img/banner.jpg' alt='Third slide')
      a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
  section.solution-it
    .container
      hgroup
        h2.title Giải pháp cntt 
          span Netsoftvn.com
        h3 Bạn đang kinh doanh lĩnh vực nào?
      .row
        .col-lg-4
          .card
            figure: a(href="#"): img.card-img-top(src='./templates/img/image1.jpg' alt='Card image cap')
            .card-body
              h3.card-title Thiết Kế Website
              p.card-text Internet đã được ứng dụng vào cuộc sống, hoạt động kinh doanh và ngày càng trở nên phổ biến. Xu hướng người dùng sử dụng Internet để tìm kiếm thông tin ...
        .col-lg-4
          .card
            figure: a(href="#"): img.card-img-top(src='./templates/img/image1.jpg' alt='Card image cap')
            .card-body
              h3.card-title Giải pháp phần mềm
              p.card-text Internet đã được ứng dụng vào cuộc sống, hoạt động kinh doanh và ngày càng trở nên phổ biến. Xu hướng người dùng sử dụng Internet để tìm kiếm thông tin ...
        .col-lg-4
          .card
            figure: a(href="#"): img.card-img-top(src='./templates/img/image1.jpg' alt='Card image cap')
            .card-body
              h3.card-title dịch vụ
              p.card-text Internet đã được ứng dụng vào cuộc sống, hoạt động kinh doanh và ngày càng trở nên phổ biến. Xu hướng người dùng sử dụng Internet để tìm kiếm thông tin ...
  section.whychose
    .container
      hgroup
        h2.title Vì sao chọn chúng tôi ?
        h3 Bạn đang kinh doanh lĩnh vực nào?
      .row
        
  section.ebook
    .container
      hgroup
        h2.title Ebook 
          span công nghệ thông tin
        h3 Bạn đang kinh doanh lĩnh vực nào?
      .row
        .col-lg-3.col-sm-4
          .ebook-item
            figure: a(href="#"): img.card-img-top(src='./templates/img/ebook.png' alt='Card image cap')
            h3.ebook-title Ebook Công Nghệ Thông Tin
        .col-lg-3.col-sm-4
          .ebook-item
            figure: a(href="#"): img.card-img-top(src='./templates/img/ebook.png' alt='Card image cap')
            h3.ebook-title Ebook Công Nghệ Thông Tin
        .col-lg-3.col-sm-4
          .ebook-item
            figure: a(href="#"): img.card-img-top(src='./templates/img/ebook.png' alt='Card image cap')
            h3.ebook-title Ebook Công Nghệ Thông Tin
        .col-lg-3.col-sm-4.hidden
          .ebook-item
            figure: a(href="#"): img.card-img-top(src='./templates/img/ebook.png' alt='Card image cap')
            h3.ebook-title Ebook Công Nghệ Thông Tin
  //- footer
  block footer
    include ./elements/_footer.pug

  script(src="https://code.jquery.com/jquery-2.2.4.min.js")
  script(src="./templates/js/bootstrap-min.js")
  script(src="./templates/js/owl.carousel.js")
  script(src="./templates/js/default.js")