doctype html
html(lang="vi" , id="index")
  head
    title #{TITLE}
    meta(charset="utf-8")
    link(rel='icon', type='image/png', href='img/favicon.png')

    meta(name="description" content="DESCRIPTION")
    meta(name="keywords" content="KEYWORDS")
    meta(name="format-detection" content="telephone=no")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="./templates/css/default.css" rel="stylesheet")
    link(href="./templates/css/bootstrap.css" rel="stylesheet")
    link(href="./templates/css/animate.min.css" rel="stylesheet")
    link(href="./templates/css/owl.carousel.css" rel="stylesheet")
    link(href="./templates/css/owl.theme.default.css" rel="stylesheet")
    link(href="./templates/css/bootstrap.css" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet")
    link(href="./templates/css/style.css" rel="stylesheet")

body
  //- header
  block header
    include ./elements/_header.pug

  section.banner
    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
        li(data-target='#carouselExampleIndicators' data-slide-to='1')
        li(data-target='#carouselExampleIndicators' data-slide-to='2')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='./templates/img/banner.jpg' alt='First slide')
        .carousel-item
          img.d-block.w-100(src='./templates/img/banner.jpg' alt='Second slide')
        .carousel-item
          img.d-block.w-100(src='./templates/img/banner.jpg' alt='Third slide')
      a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
  section.solution-it
    .container
      hgroup
        h2.title 
          span.title__first Giải pháp cntt 
          span.title__last Netsoftvn.com
        h3 Bạn đang kinh doanh lĩnh vực nào?
      .row
        .col-md-6.col-lg-4.btn-grow-shadow
          .card
            figure: a(href="#"): img.card-img-top(src='./templates/img/image1.jpg' alt='Card image cap')
            .card-body
              h3.card-title Thiết Kế Website
              p.card-text Internet đã được ứng dụng vào cuộc sống, hoạt động kinh doanh và ngày càng trở nên phổ biến. Xu hướng người dùng sử dụng Internet để tìm kiếm thông tin ...
        .col-md-6.col-lg-4.btn-grow-shadow
          .card
            figure: a(href="#"): img.card-img-top(src='./templates/img/image1.jpg' alt='Card image cap')
            .card-body
              h3.card-title Giải pháp phần mềm
              p.card-text Internet đã được ứng dụng vào cuộc sống, hoạt động kinh doanh và ngày càng trở nên phổ biến. Xu hướng người dùng sử dụng Internet để tìm kiếm thông tin ...
        .col-md-6.col-lg-4.btn-grow-shadow.d-md-none.d-sm-block
          .card
            figure: a(href="#"): img.card-img-top(src='./templates/img/image1.jpg' alt='Card image cap')
            .card-body
              h3.card-title dịch vụ
              p.card-text Internet đã được ứng dụng vào cuộc sống, hoạt động kinh doanh và ngày càng trở nên phổ biến. Xu hướng người dùng sử dụng Internet để tìm kiếm thông tin ...
  section.whychose
    .container
      hgroup
        h2.title Vì sao chọn chúng tôi ?
        h3 Bạn đang kinh doanh lĩnh vực nào?
      .row
        //- .col-12
        //-   .whychose__left
        //-   dl
        //-     dt
        //-       span 01
        //-       |Quy trình thiết kế website theo 3 bước
        //-     dd.active Website bán hàng là cửa hàng của bạn trên internet. Nơi bạn có thể giới thiệu sản phẩm, dịch vụ của mình đến với những người có nhu cầu và họ có thể tiến hành mua hàng của bạn ngay trên website mà không cần đến cửa hàng. Vì vậy, website bán hàng của bạn cần thể hiện đầy đủ thông tin sản phẩm, dịch vụ, thông tin liên lạc cũng như các công cụ công cụ đặt hàng, thanh toán trực tuyến
        //-   dl
        //-     dt
        //-       span 02
        //-       |Thiết kế website chuyên nghiệp
        //-     dd Website bán hàng là cửa hàng của bạn trên internet. Nơi bạn có thể giới thiệu sản phẩm, dịch vụ của mình đến với những người có nhu cầu và họ có thể tiến hành mua hàng của bạn ngay trên website mà không cần đến cửa hàng. Vì vậy, website bán hàng của bạn cần thể hiện đầy đủ thông tin sản phẩm, dịch vụ, thông tin liên lạc cũng như các công cụ công cụ đặt hàng, thanh toán trực tuyến
        //-   dl
        //-     dt
        //-       span 03
        //-       |Csm thiết kế đơn giản theo hướng  người sử dụng
        //-     dd Website bán hàng là cửa hàng của bạn trên internet. Nơi bạn có thể giới thiệu sản phẩm, dịch vụ của mình đến với những người có nhu cầu và họ có thể tiến hành mua hàng của bạn ngay trên website mà không cần đến cửa hàng. Vì vậy, website bán hàng của bạn cần thể hiện đầy đủ thông tin sản phẩm, dịch vụ, thông tin liên lạc cũng như các công cụ công cụ đặt hàng, thanh toán trực tuyến
        //-   dl
        //-     dt
        //-       span 04
        //-       |Uy tín chất lượng, hỗ trợ kỷ thuật 24/24
        //-     dd Website bán hàng là cửa hàng của bạn trên internet. Nơi bạn có thể giới thiệu sản phẩm, dịch vụ của mình đến với những người có nhu cầu và họ có thể tiến hành mua hàng của bạn ngay trên website mà không cần đến cửa hàng. Vì vậy, website bán hàng của bạn cần thể hiện đầy đủ thông tin sản phẩm, dịch vụ, thông tin liên lạc cũng như các công cụ công cụ đặt hàng, thanh toán trực tuyến
        //- .col-md-4.col-lg-4
        //-   .photo: img(src='./templates/img/why.png' alt='Card image cap').img-fluid
        .col-12


          .whychose__content
            dl.tabs.whychose__content__left

              dt.tab-link.current(data-tab='tab-1') Tab One
              dd.tab-1.tab-content.current
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                

              dt.tab-link(data-tab='tab-2') Tab Two
              dd.tab-2.tab-content
                | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              dt.tab-link(data-tab='tab-3') Tab Three
              dd.tab-3.tab-content
                | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              dt.tab-link(data-tab='tab-4') Tab Four
              dd.tab-4.tab-content
                | Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            ul.whychose__content__right
              li.tab-1.tab-content.current
                .photo: img(src='./templates/img/why.png' alt='Card image cap').img-fluid
              li.tab-2.tab-content
                .photo: img(src='./templates/img/why.png' alt='Card image cap').img-fluid
              li.tab-3.tab-content
                .photo: img(src='./templates/img/why.png' alt='Card image cap').img-fluid
              li.tab-4.tab-content
                .photo: img(src='./templates/img/why.png' alt='Card image cap').img-fluid
  section.ebook
    .container
      hgroup
        h2.title Ebook 
          span công nghệ thông tin
        h3 Bạn đang kinh doanh lĩnh vực nào?
      .row
        .col-12
          .owl-ebook.owl-carousel.owl-theme
            .ebook-item
              figure: a(href="#"): img.card-img-top(src='./templates/img/ebook.jpg' alt='Card image cap')
              h3.ebook-title: a(href="#") Ebook Công Nghệ Thông Tin

            .ebook-item
              figure: a(href="#"): img.card-img-top(src='./templates/img/ebook.jpg' alt='Card image cap')
              h3.ebook-title: a(href="#") Ebook Công Nghệ Thông Tin

            .ebook-item
              figure: a(href="#"): img.card-img-top(src='./templates/img/ebook.jpg' alt='Card image cap')
              h3.ebook-title: a(href="#") Ebook Công Nghệ Thông Tin

            .ebook-item
              figure: a(href="#"): img.card-img-top(src='./templates/img/ebook.jpg' alt='Card image cap')
              h3.ebook-title: a(href="#") Ebook Công Nghệ Thông Tin
  //- footer
  block footer
    include ./elements/_footer.pug

  script(src="https://code.jquery.com/jquery-2.2.4.min.js")
  script(src="./templates/js/bootstrap-min.js")
  script(src="./templates/js/owl.carousel.js")
  script(src="./templates/js/default.js")