doctype html
html(lang="vi")
  head
    title #{TITLE}
    meta(charset="utf-8")
    link(rel='icon', type='image/png', href='img/favicon.png')

    meta(name="description" content="DESCRIPTION")
    meta(name="keywords" content="KEYWORDS")
    meta(name="format-detection" content="telephone=no")
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href="./templates/css/bootstrap.css" rel="stylesheet")
    link(href="./templates/css/animate.min.css" rel="stylesheet")
    link(href="./templates/css/owl.carousel.css" rel="stylesheet")
    link(href="./templates/css/owl.theme.default.css" rel="stylesheet")
    link(href="./templates/css/bootstrap.css" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css" rel="stylesheet")
    link(href="./templates/css/style.css" rel="stylesheet")

body
  //- header
  block header
    include ./elements/_header.pug

  section.banner
    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
        li(data-target='#carouselExampleIndicators' data-slide-to='1')
        li(data-target='#carouselExampleIndicators' data-slide-to='2')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='./templates/img/banner.jpg' alt='First slide')
        .carousel-item
          img.d-block.w-100(src='./templates/img/banner1.jpg' alt='Second slide')
        .carousel-item
          img.d-block.w-100(src='./templates/img/banner.jpg' alt='Third slide')
      a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
  section.solution-it
    .container
      hgroup
        h2.title Giải pháp cntt 
          span Netsoftvn.com
        h3 Bạn đang kinh doanh lĩnh vực nào?
      .row
        .col-lg-4
          .card
            figure: img.card-img-top(src='./templates/img/image1.jpg' alt='Card image cap')
            .card-body
              h3.card-title Card title
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
        .col-lg-4
          .card
            figure: img.card-img-top(src='./templates/img/image1.jpg' alt='Card image cap')
            .card-body
              h3.card-title Card title
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
        .col-lg-4
          .card
            figure: a(href="#").img-shine: img.card-img-top(src='./templates/img/image1.jpg' alt='Card image cap')
            .card-body
              h3.card-title Card title
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
  //- footer
  block footer
    include ./elements/_footer.pug

  script(src="https://code.jquery.com/jquery-2.2.4.min.js")
  script(src="./templates/js/bootstrap-min.js")
  script(src="./templates/js/owl.carousel.js")
  script(src="./templates/js/default.js")