* {
    margin: 0;
    padding: 0;
}
$color: #f15a24;
ul{
    list-style: none;
}
body {
    font-size: 14px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flexbetween {
   justify-content: space-between;
   @extend .flex;
}
.flexcenter {
    align-items: center;
    @extend .flexbetween;
}
header {
    .header {
        &_top {
          background: #f2f2f2;
          padding: 0.61rem 0;
            h1{
              font-size: 1rem;
              color: $color;
              font-style: italic;
            }
            &_contact{
              @extend .flexbetween;
              li{
                position: relative;
                &:not(:last-child){
                  &::before{
                    content: '';
                    right: -25%;
                    top: 10%;
                    bottom: 10%;
                    position: absolute;
                    border-right: 1px solid #ccc;
                  }
                }
                span{font-weight: bold;}
                a{
                  color: $color;
                  padding-left: 5px;
                }
              }
            }
        }
    }
    .menu{
      .container{
        @extend .flexcenter;
      }
      .logo{
        width: 170px;
        height: 50px;
        background: $color;
      }
      ul{
        @extend .flex;
        > li{
          > a{
            font-size: 1.1428571428571428rem;
            text-transform: uppercase;
            text-align: center;
            padding: 0 12px;
            line-height: 100px;
          }
          &:hover, &.active{
            > a{
              color: $color;
            }
          }
          &:last-child{
            a{
              padding-right: 0;
            }
          }
        }
      }
    }
}
hgroup{
  text-align: center;
  text-transform: uppercase;
  padding-top: 5.7rem;
  padding-bottom: 4.28rem;
  h2{
    font-size: 2.14rem;
    color: #000000;
  }
  h3{
    font-size: 1.1rem;
    color: #999999;
  }
}
.img-shine {
  overflow: hidden;
  position: relative;
  display: block;
  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: -75%;
    z-index: 100;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 100%);
    transform: skewX(-25deg);
  }
}

.solution{
  &-it{
    position: relative;
    .card{
      margin-bottom: 2.14rem;
      cursor: pointer;
      &:hover{
        .card-img-top{
          transform: scale(1.1);
          transition: all .3s ease-in-out;
        }
        h3{
          color: $color;
        }
      }
    }
    h3{
      text-transform: uppercase;
      color: #111111;
      font-size: 1.428rem;
    }
    .card-text{
      color: #666666;
    }
  }
}